.hidden {
  overflow: hidden;
}

.blind {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}

#skip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;

  a {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ccc;
    color: #000;
    transform: translateY(-100%);

    &:focus,
    &:active {
      transform: translateY(0);
    }
  }
}

.scroll-hide {
  overflow: hidden;
}

.loading_page {
  position: fixed;
  top: 0;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: #1d1d1d;
  color: #fff;

  .loading_page_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20.3px 40px;
    border-bottom: 2px solid #adadad;

    @include mobile {
      padding: 20.3px 32px;
    }
  }

  .header_text {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1;

    @include mobile {
      font-size: 16px;
    }
  }

  .count {
    align-self: flex-end;
    padding-right: 20px;
    font-size: 326px;
    font-weight: 500;

    @include mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding-right: 0;
      font-size: 200px;
    }
  }
}

.inner {
  position: relative;
  z-index: 1;
  max-width: none;
  margin: 0 auto;

  @include noneMobile {
    max-width: 90rem;
    padding: 7rem 2.5rem;
  }

  @include tablet {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.cursor_effect {
  width: 150px;
  height: 44px;
  padding: 12px 28px;
  border: 2px solid #fff;
  border-radius: 112px;

  .text_top,
  .text_bottom {
    position: absolute;
    transition: 0.3s;
    width: 90px;
    height: 16px;
    white-space: nowrap;
    line-height: 1;
  }
  &.is_active {
    border-color: rgb(97, 97, 97);
    background: rgba(255, 255, 255, 0.3);
  }
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #ddd;
  pointer-events: none;
}

@keyframes gScale {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pathScale {
  0% {
    stroke-width: 0;
  }

  50% {
    stroke-width: 1.3107888039361364;
  }

  100% {
    stroke-width: 1.3107888039361364;
  }
}

@keyframes scale1 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@keyframes scale2 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 70%;
    height: 70%;
    opacity: 0;
  }
}

@keyframes opacityWidth {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
