.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}


#skip-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#skip-header a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
  background: #ccc;
}

.scroll-hide {
  overflow: hidden;
}

//???? 왜 새로고침하면 스크롤이 보이는걸까?
.loading-page {
  position: fixed;
  z-index: 99999;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1d1d1d;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20.3px 40px;
    border-bottom: 2px solid #adadad;

    @include mobile {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  span {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 24px;
    line-height: 1;

    @include mobile {
      font-size: 18px;
      // font-size: 0.9em;
    }
  }

  .bottom {
    padding-bottom: 50px;
    padding-right: 50px;
    align-self: flex-end;

    @include mobile {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }

    .count {
      font-size: 326px;
      font-weight: 500;
      line-height: .55;

      @include mobile {
        font-size: 200px;
      }
    }
  }


}


.inner1 {
  margin: 0 auto;

  @include MinDevice {
    max-width: none;
    // max-width: 728px;
  }

  @include tablet {
    max-width: 1280px;
  }


  @include desktop {
    // max-width: 1440px;
    max-width: 1360px;
  }

}

//???? 왜 마우스커서가 보이는걸까?
//???? 커서가 느리게 움직이는 느낌?
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ddd;
  border-radius: 20px;
  z-index: 1000;
  pointer-events: none;

  @include mobile {
    display: none;
  }

  &.isZoom {
    opacity: 0.8;
    transform: scale(1.5);
  }
}



@keyframes gScale {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes pathScale {
  0% {
    stroke-width: 0;
  }

  50% {
    stroke-width: 1.3107888039361364;
  }

  100% {
    stroke-width: 1.3107888039361364;

  }
}

@keyframes scale1 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}

@keyframes scale2 {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    width: 70%;
    height: 70%;
  }
}


@keyframes opacityWidth {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}