* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

html {
  cursor: none;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

/* 세팅 */
body {
  font-family: SF Pro Display, sans-serif;
  font-weight: 300;
  letter-spacing: 0em;
  background-color: #1d1d1d;
  color: #333;
}

fieldset {
  border: 0;
}
