@font-face {
  font-family: "SF Pro Display";
  src: url('../fonts/SFPRODISPLAY_BOLD.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Display";
  src: url('../fonts/SFPRODISPLAY_MEDIUM.woff') format('woff2');
  font-weight: 500;
}


@font-face {
  font-family: "SF Pro Display";
  src: url('../fonts/SFPRODISPLAY_REGULAR.woff') format('woff');
  font-weight: 300;
}