// 1264 안에서 잘 나오면 오케이
// 전역으로 적용시킨것들은 1264 이상으로 다 적용시키는 것이다. 

// [1441] ~ 1920
$desktop: 1920px;

@mixin desktop {

  // 1920 이상를 꾸미는거다. 
  @media screen and (min-width: $desktop ) {
    @content;
  }
}

// [992z] ~ 1440
$tablet: 1440px;

@mixin tablet {

  // 1440 이상를 꾸미는거다. 
  @media screen and (min-width: $tablet ) {
    @content;
  }
}

// ------------------------
// [480] ~ 991
$mobile: 991px;

@mixin mobile {

  // 850 이상을 꾸미는거다. 
  @media screen and (max-width: $mobile ) {
    @content;
  }
}