.container {
  margin-top: 96px;
}

.text_wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  @include mobile {
    padding: 5rem 1.5rem;
  }
}

.headline {
  font-weight: 500;
  color: #fff;
  @include mobile {
    font-size: 48px;
  }
}

.description_box {
  max-width: 480px;
  padding-left: 8px;
  @include tablet {
    padding: 0;
  }
}

.description {
  font-size: 18px;
  color: #e0e0e0;
  letter-spacing: 0.5px;
  line-height: 26px;
  @include tablet {
    font-size: 16px;
  }
}

.section_speaker,
.section_engineered {
  height: calc(300vh - 96px);

  .inner {
    overflow: hidden;
    position: sticky;
    top: 0;
    max-width: none;
    height: 100vh;
    padding: 170px 40px;
    @include noneMobile {
      padding: 112px 40px 20px 40px;
    }

    @include tablet {
      padding: 0 1.5rem 0 1.5rem;
    }
    @include mobile {
      padding: 170px 1.5rem 40px 1.5rem;
    }
  }
  #canvas1,
  #canvas2 {
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%, 0);
    height: 80vh;

    @include noneMobile {
      top: 80px;
      width: 85vw;
      height: 90vh;
    }
  }
  .text_wrap {
    max-width: 90rem;
    padding: 7rem 2.5rem;
    margin: 0 auto;

    @include tablet {
      justify-content: center;
      padding: 0;
      height: 80vh;
    }
    @include mobile {
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}

.section_speaker {
  #canvas1 {
    @include desktop {
      top: 11%;
      width: 100vw;
      height: 40vh;
    }
    @include tablet {
      top: 0%;
      height: 90vh;
      width: 70vw;
    }

    @include mobile {
      top: auto;
      height: 80vh;
      bottom: 16%;
      width: 100vw;
    }
  }

  .description {
    margin-bottom: 8px;
    color: #a5a5a5;
  }

  .headline {
    font-size: 90px;
    @include mobile {
      font-size: 48px;
    }
  }

  .text_box:last-child {
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: calc(50% - 80px);
    height: 100%;

    @include tablet {
      right: auto;
      justify-content: flex-end;
      width: 100%;
      height: 80%;
    }
    @include mobile {
      height: 100%;
    }

    .title {
      margin: 20px 0 10px;
      font-size: 48px;
      font-weight: 600;
      color: #fff;
      line-height: 1.4;
      opacity: 0;

      @include mobile {
        font-size: 32px;
      }
    }

    .description_box {
      opacity: 0;
      padding: 0;

      .description {
        color: #e0e0e0;
        &:last-child {
          margin-top: 30px;
        }
      }
    }
  }
}

.section_wireless {
  position: relative;
  height: 100vh;
  margin-bottom: 192px;

  @include tablet {
    height: 85vh;
    margin-bottom: 0;
  }

  @include mobile {
    height: 85vh;
    margin-bottom: 80px;
  }
  &::after {
    display: block;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: 1;
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0), #1d1d1d 85%);
    content: "";
  }

  .background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;

    .wave {
      animation: gScale 2s infinite;

      path {
        animation: pathScale 2s infinite;
      }
    }

    @include mobile {
      height: 75%;
    }
  }

  .inner {
    z-index: 2;
    height: 100%;
    padding-bottom: 0;
  }

  .text_wrap {
    @include mobile {
      padding: 0;
    }
    .headline {
      font-size: 60px;

      @include tablet {
        font-size: 48px;
      }

      @include mobile {
        font-size: 32px;
      }
    }

    .description_box {
      max-width: 720px;
      margin-top: 16px;
      @include tablet {
        max-width: 480px;
        margin-top: 0;
      }

      .icon_box {
        display: flex;
        margin-top: 48px;
      }

      .icon {
        width: 94px;
        height: 24px;
        margin-right: 3rem;
      }
    }
  }
}

.section_old_school {
  height: 100vh;
  margin-bottom: 100px;

  @include mobile {
    height: 65vh;
    margin-bottom: 120px;
  }

  .inner {
    overflow: hidden;
    height: 100vh;

    @include tablet {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      height: 100%;
    }
  }

  .text_wrap {
    justify-content: center;
    max-width: 480px;
    padding: 0 40px;

    @include tablet {
      max-width: none;
      justify-content: flex-end;
      padding: 0 40px;
      z-index: 1;
    }
    @include mobile {
      padding: 0;
      max-width: 480px;
    }

    .headline {
      font-size: 72px;

      @include mobile {
        font-size: 42px;
      }
    }

    .description:last-child {
      max-width: 480px;
      margin-top: 16px;

      @include mobile {
        margin-top: 0;
      }
    }
  }

  .speaker {
    position: absolute;
    top: 64px;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 800px;

    @include desktop {
      right: -5%;
      height: 60vh;
      width: 60vw;
    }

    @include tablet {
      right: -2%;
      height: 72vh;
      width: 100vw;
      top: 46%;
    }
    @include mobile {
      width: 60vw;
      height: 40vh;
      left: 50%;
      right: auto;
      transform: translateX(-50%);
      top: 0;
    }

    picture {
      height: 100%;
      transform: rotate(7deg);

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    .speaker_option {
      position: absolute;

      @include mobile {
        display: none;
      }

      &:hover {
        .center_dot::after {
          width: 265px;
          opacity: 1;
          content: "";
        }

        .option_description {
          opacity: 1;
          transition: opacity 0.3s ease-out 0.5s;
        }
      }

      &.sub_out {
        top: 40%;
        left: 27%;
      }

      &.jack {
        top: 35%;
        left: 39%;
      }

      &.arc {
        top: 42%;
        left: 52%;
      }

      &.optical {
        top: 48%;
        left: 41%;
      }
    }

    .dot_box {
      position: relative;
      width: 24px;
      height: 24px;
    }

    .center_dot,
    .middle_dot,
    .bottom_dot {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }

    .center_dot {
      width: 45%;
      height: 45%;
      background: #fff;

      &::after {
        display: block;
        position: absolute;
        top: 50%;
        width: 1px;
        height: 1px;
        background: #fff;
        transition: width 0.2s;
        opacity: 0;
        content: "";
      }
    }

    .middle_dot,
    .bottom_dot {
      width: 10%;
      height: 10%;
      border: 1px solid #fff;
    }

    .middle_dot {
      animation: scale1 2s infinite;
    }

    .bottom_dot {
      animation: scale2 2s infinite;
    }

    .option_description {
      display: block;
      position: absolute;
      left: 50%;
      top: -50%;
      width: 260px;
      font-size: 18px;
      color: #fff;
      text-align: right;
      line-height: 24px;
      opacity: 0;
    }
  }
}

.section_features {
  padding-bottom: 88px;
  margin-bottom: 128px;

  @include mobile {
    padding-bottom: 0;
    margin-bottom: 48px;
  }

  .inner {
    max-width: 1140px;
    padding: 112px 40px;

    @include mobile {
      padding: 112px 24px;
    }
  }

  .headline {
    margin-bottom: 32px;
    font-size: 36px;

    @include mobile {
      font-size: 24px;
    }
  }

  .title {
    display: block;
    margin-bottom: 16px;
    font-size: 28px;
    font-weight: 500;
    color: #fff;
    @include ellipse(2);
  }

  .feature_area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 24px;

    @include tablet {
      grid-template-rows: repeat(5, 1fr);
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      grid-template-rows: auto auto auto auto;
      grid-template-columns: 1fr;
    }
  }

  .grid_cell {
    overflow: hidden;
    height: 336px;
    border-radius: 8px;

    @include mobile {
      height: auto;
    }

    picture {
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &[class*="_description"] {
      transform: translateY(100px);
      padding: 40px 32px;
      background-color: #252525;
      opacity: 0;
    }
    .description {
      @include ellipse(5);
    }
  }

  .design {
    grid-column: span 2;
    grid-row: span 2;
    height: calc((336px * 2) + 24px);
    transform: translateY(100px);
    opacity: 0;

    @include tablet {
      grid-column: span 1;
      height: auto;
    }
    @include mobile {
      height: 30rem;
    }

    &_detail {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateY(100px);
      background-color: #e7e7e7;
      opacity: 0;

      picture {
        transform: translateY(52px);
      }

      @include mobile {
        height: 336px;
      }
    }
  }

  .application {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(100px);
    padding: 40px 32px;
    background-color: #252525;
    opacity: 0;

    @include mobile {
      height: 336px;
    }

    &_icon {
      width: 64px;
      margin-bottom: 16px;
      padding: 17.6px;
      border-radius: 7px;
      background-color: #e0e0e0;
    }

    &_description {
      display: flex;
      flex-direction: column;
      @include mobile {
        height: 22rem;
      }

      .application_link_area {
        margin-top: auto;

        @include mobile {
          display: flex;
          flex-direction: column;
          margin-top: 1rem;
        }

        .google,
        .app_store {
          display: inline-block;
          width: 124px;
          height: 35px;

          @include mobile {
            width: 150px;
            height: 57px;
          }

          &:before {
            display: block;
            width: 100%;
            height: 100%;
            content: "";
          }
        }

        .google {
          background: url("../images/ico_play_store.svg") no-repeat;
          background-size: contain;
        }

        .app_store {
          background: url("../images/ico_app_store.svg") no-repeat;
          background-size: contain;
        }
      }
    }
  }

  .easy_mount {
    position: relative;
    grid-row: span 3;
    transform: translateY(100px);
    height: calc((336px * 2) + 24px);
    background-color: #252525;
    opacity: 0;

    .bg_gradient {
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(26, 25, 25, 0.76)
      );
    }

    .text_box {
      position: relative;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 100%;
      padding: 40px 32px;
      background: transparent;
    }

    .bracket_image {
      position: absolute;
      top: 1%;
      left: 1%;
      bottom: 0%;
      right: 0%;
      height: 100%;

      picture {
        img {
          object-position: 20% 50%;
        }
      }
    }
  }

  .white_layout {
    grid-column: span 2;
    transform: translateY(100px);
    opacity: 0;

    @include tablet {
      grid-column: span 1;
    }

    picture {
      img {
        object-position: 0% 40%;
      }
    }
  }
}

.section_engineered {
  height: 136vh;

  position: relative;
  overflow: hidden;
  .background_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/img_engineered_background.png") no-repeat;
    background-size: cover;
    opacity: 1; /* 초기 불투명도 */
    z-index: -1; /* 내용 뒤에 위치 */
  }
  @include tablet {
    .inner {
      flex-direction: column-reverse;
      justify-content: space-around;
      height: 124vh;
      padding-top: 136px;
      padding-bottom: 0;
    }
  }

  @include mobile {
    .inner {
      padding-top: 136px;
      padding-top: 136px;
    }
  }

  #canvas2 {
    @include desktop {
      top: 50%;
      transform: translate(-50%, -50%);
      height: 40vh;
    }
    @include tablet {
      top: 47%;
      height: 55vh;
    }
    @include mobile {
      height: 40vh;
    }
  }

  .text_wrap {
    flex-direction: row;
    align-items: center;
    padding-bottom: 20rem;

    @include tablet {
      flex-direction: column-reverse;
      justify-content: space-between;
      height: 100%;
      padding-bottom: 0;
    }

    @include mobile {
      padding-bottom: 0;
    }
  }

  .text_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    @include desktop {
      transform: none;
    }
    @include tablet {
      width: 100%;
    }

    .headline {
      font-size: 48px;
      color: #3c4146;

      @include tablet {
        width: 100%;
        padding-left: 0;
        font-size: 36px;
      }

      @include mobile {
        font-size: 32px;
      }
    }
  }

  .description {
    margin-top: 16px;
    @include ellipse(30);
  }

  .engineering_description {
    .headline {
      font-size: 60px;
      opacity: 0;

      @include tablet {
        font-size: 48px;
      }
    }

    .description_box {
      opacity: 0;
    }

    .description {
      color: #fff;
      &:last-child {
        margin-top: 30px;
      }
    }

    .cursor_effect {
      overflow: hidden;
      display: block;
      position: relative;
      margin-top: 43px;
      color: #fff;
      cursor: none;

      .text_top,
      .text_bottom {
        width: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }

      .text_top {
        top: 50%;
      }

      .text_bottom {
        top: 130%;
      }

      &.is_active {
        .text_top {
          top: -100%;
        }

        .text_bottom {
          top: 50%;
        }
      }
    }
  }

  .engineering_promotion {
    padding-left: 104px;
    opacity: 1;

    @include tablet {
      padding-left: 0;
    }

    .description {
      color: #5e646b;
    }
  }
}

.section_faq {
  background-color: #c9c8c8;

  .inner {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 70px;
    padding: 112px 40px;
    color: #575757;

    @include tablet {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    .headline {
      margin-top: 20px;
      font-size: 36px;
      color: #575757;

      @include mobile {
        font-size: 24px;
      }

      &_description {
        margin-top: 16px;
        font-size: 18px;
        letter-spacing: 0.5px;

        @include mobile {
          font-size: 16px;
        }
      }
    }

    .faq {
      &_list {
        flex: 1;
      }

      &_item {
        padding: 24px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        &:first-child {
          padding-top: 0;
        }

        &_title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 24px;
          cursor: none;

          @include mobile {
            font-size: 18px;
          }

          &::after {
            display: block;
            width: 21px;
            height: 21px;
            background: url("../images/ico_arrow.png") no-repeat;
            background-size: cover;
            transform: rotate(-90deg);
            transition: 0.3s;
            content: "";
          }

          &.is_active {
            &::after {
              transform: rotate(0);
            }
          }
        }
      }
    }

    .sub {
      &_list {
        overflow: hidden;
        max-height: 0;
        transition: 0.3s;

        &.is_show {
          max-height: calc((26px * 2) + 16px);

          .sub_item {
            padding-top: 16px;
            font-size: 18px;
            letter-spacing: 0.5px;
            line-height: 26px;

            @include mobile {
              font-size: 16px;
              letter-spacing: -0.01em;
            }
          }
          @include mobile {
            max-height: calc((26px * 4) + 16px);
          }
        }
      }
    }
  }
}

.badge {
  display: none;
  @include noneMobile {
    display: block;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
  }
}
