.container {
  margin-top: 96px;
}

.section-speaker {
  height: calc(300vh - 96px);

  .inner1 {
    height: calc(100vh - 96px);
    position: sticky;
    top: 0;
  }

  #canvas {
    position: absolute;
    // width: 2880px;
    // height: 100%;
    // transform: translateX(-15.5%);
  }

  .text-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 112px 40px;
    position: relative;

    @include mobile {
      justify-content: center;
      align-items: flex-start;
      position: relative;
    }
  }

  .headline {
    color: #fff;
    font-size: 90px;
    font-weight: 500;



    &-small {
      color: #a5a5a5;
      letter-spacing: .5px;
      font-size: 18px;
      margin-bottom: 8px;
      font-weight: 300;
    }
  }

  .desc {
    opacity: 0;

    &-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: calc(50% - 80px);
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;

      @include mobile {
        right: auto;
        width: 50%;
      }
    }

    &-small,
    &-spec {
      max-width: 480px;
      margin-top: 16px;
      color: #e0e0e0;
      letter-spacing: .5px;
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;

      @include mobile {
        font-size: 16px;
      }
    }

    &-small {
      @include mobile {
        br {
          display: none;
        }
      }
    }

    &-title {
      opacity: 0;
      color: #fff;
      font-size: 48px;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    &-spec {
      margin-top: 30px;
    }

  }
}

.section-wireless {
  height: 100vh;
  position: relative;
  margin-bottom: 192px;

  @include mobile {
    margin-bottom: 80px;
  }

  .bottom-gradient {
    z-index: 2;
    width: 100%;
    height: 15rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0), #1d1d1d 85%);
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .inner1 {
    position: relative;
    display: flex;
    height: 100%;

  }

  .text-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    padding-left: 10px;
    padding: 112px 40px;
    width: 100%;
    // transform: translateY(-200px);

    .headline {
      color: #fff;
      font-size: 60px;
      font-weight: 500;
    }

    .desc {
      color: #e0e0e0;
      margin-top: 16px;
      font-size: 18px;
      font-weight: 300;
      line-height: 26px;
      letter-spacing: .5px;
      padding-left: 8px;
      color: #e0e0e0;

      @include mobile {
        font-size: 16px;
      }


      &-small {
        max-width: 720px;

        @include mobile {
          max-width: 480px;
        }
      }

      &-spec {
        margin-top: 48px;
        display: flex;
        align-items: center;
        gap: 48px;
      }
    }
  }


  .bg {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;

    }
  }
}

.section-oldschool {
  height: 100vh;
  margin-bottom: 80px;


  .inner1 {
    position: relative;
    height: 100%;

    @include mobile {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding: 112px 40px;

      width: 800px;
    }
  }

  .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    padding: 0 40px;

    @include tablet {
      padding: 112px 40px;
      height: 100%;
    }

    @include desktop {
      padding: 112px 40px;
      height: 100%;
    }


    .headline {
      color: #fff;
      font-size: 72px;
      font-weight: 500;
    }

    .desc {
      &-small {
        color: #e0e0e0;
        letter-spacing: .5px;
        font-size: 18px;
        font-weight: 300;
        line-height: 26px;

        margin-top: 16px;
        padding-left: 8px;
        max-width: 480px;
      }
    }
  }

  .bg {
    position: absolute;
    top: 64px;
    right: 0;
    height: 960px;

    @include mobile {
      height: auto;
      position: static;
    }

    picture {
      height: 100%;
      transform: rotate(7deg);

      img {
        object-fit: cover;
        height: 100%;
      }
    }


  }
}

.section-features {
  padding-bottom: 88px;
  margin-bottom: 128px;

  @include mobile {
    padding-bottom: 0;
    margin-bottom: 48px;
  }

  .inner2 {
    margin: 0 auto;
    padding: 112px 40px;
    max-width: 1040px;
  }

  .headline {
    margin-bottom: 32px;
    color: #fff;
    font-size: 36px;
    font-weight: 500;
  }

  .grid-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 24px;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 336px);
    }

    // w-layout-cell , cell, _2x1

    .space {
      height: 336px;
      border-radius: 8px;
      overflow: hidden;

      .title {
        font-size: 28px;
        color: #fff;
        font-weight: 500;
        margin-bottom: 16px;
      }

      .desc {
        line-height: 26px;
        color: #e0e0e0;
        letter-spacing: .5px;
        font-size: 18px;
        font-weight: 300;

        @include mobile {
          font-size: 16px;
        }
      }

      picture {
        height: 100%;

        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
    }

    .top {
      opacity: 0;
      transform: translateY(100px);
      grid-column: span 2;
      grid-row: span 2;
      height: calc((336px * 2) + 24px);

      @include mobile {
        grid-column: span 1;

      }

      &-desc {
        opacity: 0;
        transform: translateY(100px);
        padding: 40px 32px;
        background-color: #252525;
      }

      &-sub {
        opacity: 0;
        transform: translateY(100px);
        background-color: #e7e7e7;
        display: flex;
        align-items: center;
        justify-content: center;

        picture {
          transform: translateY(52px);
        }
      }

    }

    .middle {
      opacity: 0;
      transform: translateY(100px);
      padding: 40px 32px;
      background-color: #252525;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .icon {
        width: 64px;
        background-color: #e0e0e0;
        border-radius: 7px;
        margin-bottom: 16px;
        padding: 17.6px;
      }

      &-desc {
        opacity: 0;
        transform: translateY(100px);
        padding: 40px 32px;
        background-color: #252525;
        display: flex;
        flex-direction: column;

        .download {
          margin-top: auto;

          &>span {
            display: inline-block;
            width: 124px;
            height: 35px;

            &:before {
              content: "";
              display: block;


              width: 100%;
              height: 100%;
            }

            &.google {
              background: url("../images/Playstore_Icon.svg") no-repeat;
              background-size: contain;
            }

            &.appstore {
              background: url("../images/AppStore_Icon.svg") no-repeat;
              background-size: contain;
            }
          }
        }
      }

      &-sub {
        opacity: 0;
        transform: translateY(100px);
        grid-row: span 3;
        height: calc((336px * 2) + 24px);
        position: relative;

        // cell-inner
        .text-box {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          background: transparent;
          position: relative;
          z-index: 3;
          height: 100%;
          padding: 40px 32px;
        }

        // cell-gradient
        .bg-gradient {
          background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(26, 25, 25, .76));
          z-index: 2;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0%;
          bottom: 0%;
          left: 0%;
          right: 0%;
        }

        .image {
          height: 100%;
          position: absolute;
          top: 1%;
          left: 1%;
          bottom: 0%;
          right: 0%;
          z-index: 1;

          picture {
            img {
              object-position: 20% 50%;
            }
          }
        }
      }
    }

    .bottom {
      opacity: 0;
      transform: translateY(100px);
      grid-column: span 2;

      @include mobile {
        grid-column: span 1;
      }

      picture {
        img {
          object-position: 0% 40%;
        }
      }
    }
  }
}

.section-cta {
  height: 300vh;

  .cta-wrapper {
    background: url("../images/cta-bg.png") no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
    position: sticky;
    top: 0;
  }

  .inner1 {
    height: 100%;
    display: flex;

    @include mobile {
      padding: 112px 32px;
      flex-direction: column-reverse;
      justify-content: space-around;
    }
  }

  .right {
    opacity: 1;
  }

  .left {
    .headline {
      opacity: 0;
    }

    .desc {
      opacity: 0;
    }
  }

  .right {
    padding-left: 104px;

    @include mobile {
      padding-left: 0;
    }

    @include tablet {
      padding-left: 116px;
    }
  }

  .left {
    padding-left: 64px;

    @include mobile {
      padding-left: 0;
    }

  }

  .right,
  .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    .headline {
      font-weight: 500;
    }

    .desc {
      max-width: 480px;

      &-small {
        letter-spacing: 0.5px;
        margin-top: 16px;
        font-size: 18px;
        line-height: 26px;
        font-weight: 300;

        @include mobile {
          font-size: 16px;
        }
      }

      &-spec {
        margin-top: 30px;
      }
    }
  }

  .right {
    .headline {
      color: #3c4146;
      font-size: 48px;

      @include mobile {
        font-size: 36px;
        white-space: nowrap;
      }
    }

    .desc {
      color: #5e646b;


    }
  }

  .left {
    .headline {
      color: #fff;
      font-size: 60px;

      @include mobile {
        font-size: 48px;
      }
    }

    .desc {
      color: #fff;
    }

    .button {
      margin-top: 43px;
      border: 2px solid #fff;
      border-radius: 112px;
      padding: 12px 28px;
      display: inline-block;

      a {
        display: block;
        width: 90px;
        height: 16px;
        position: relative;
        overflow: hidden;

        span {
          position: absolute;
          left: 0;
          transition: 0.3s;

          &.top {
            top: 0%;
          }

          &.bottom {
            top: 100%;
          }
        }
      }

      &.on {
        background: rgba(255, 255, 255, 0.3);
        border-color: rgb(97, 97, 97);

        .top {
          top: -105%;
        }

        .bottom {
          top: 0;
        }
      }
    }

    // opacity: 0;
  }
}

.section-faq {
  background-color: #c9c8c8;

  .inner1 {
    display: flex;
    gap: 133px;
    color: #575757;
    padding: 112px 0;
    padding: 112px 40px;

    @include mobile {
      flex-direction: column;
      gap: 64px;
    }

    .right {
      flex: 1;
    }

    .headline {
      margin-top: 20px;
      font-size: 36px;
      font-weight: 500;

      &-desc {
        margin-top: 16px;
        letter-spacing: 0.5px;
        font-size: 18px;
        font-weight: 300;

        @include mobile {
          font-size: 16px;
        }
      }
    }

    .title {
      font-size: 24px;
      font-weight: 300;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include mobile {
        font-size: 21px;
      }

      &::after {
        content: "";
        display: block;
        width: 21px;
        height: 21px;
        background: url("../images/arrow.png") no-repeat;
        background-size: cover;
        transform: rotate(-90deg);
        transition: 0.3s;
      }

      &.on {
        &::after {
          transform: rotate(0);
        }
      }

    }

    .sub {
      &-list {
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;

        &.on {
          max-height: calc((26px * 2) + 16px);
        }
      }

      &-item {
        a {
          letter-spacing: 0.5px;
          font-size: 18px;
          font-weight: 300;
          display: block;
          padding-top: 16px;
          line-height: 26px;

          @include mobile {
            font-size: 16px;
          }
        }
      }

    }

    .divider {
      height: 1px;
      background-color: rgba(0, 0, 0, .15);
      margin-top: 24px;
      margin-bottom: 24px;
    }

  }
}

.badge {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 999;
}